@require "app/styles/charte"
 /*
 * IDs
 */
#messages
	 height: 70vh

 /*
 * Classes
 */
 .message
	 padding: 1em 2em

	 &-username
		 font-size: 1em
		 text-transform: uppercase
	 &-content
		 font-size: 1.1em
		 margin-top: 0.5em
	 &--myself
		 background: $background-message--myself
