@require "app/styles/charte"


/*
 * IDs
 */
#messages
	height: 65vh
	overflow-y: auto


/*
 * Classes
 */
.message
	padding: 1em 2em

	/*
	 * Children
	 */
	&-username
		text-transform: uppercase
		font-size: .75em

	&-content
		font-size: 1.1em
		margin-top: .25em


	/*
	 * Modifier
	 */
	&--myself
		background: $background-message-myself
